@tailwind base;
@tailwind components;
@tailwind utilities;


.gradient-01 {
    background-image: linear-gradient(
      270deg,
      hsl(295deg 76% 51%) 0%,
      hsl(284deg 70% 73%) 26%,
      hsl(257deg 70% 86%) 39%,
      hsl(202deg 92% 90%) 50%,
      hsl(215deg 77% 81%) 61%,
      hsl(221deg 73% 70%) 74%,
      hsl(220deg 76% 51%) 100%
    );
    filter: blur(125px);
  }

  .footer-gradient {
    position: absolute;
    width: 500px;
    height: 100px;
    left: 37%;
    bottom: 0;
  
    background: #65c4fa;
    filter: blur(150px);
  }

  .gradient-04 {
    
    width: 300px;
    height: 50vh;
    left: 10%;
    top: 30%;
  
    background: rgba(45, 72, 152, 0.75);
    filter: blur(200px);
    
  }

  
.feedback-gradient {
 
  width: 200px;
  height: 316px;
 left:77%;

  background: #8d39a3;
  filter: blur(175px);
}